<div class="header">
  <h3 style="color:#1D5434">Climate Change Projects: A Snapshot</h3>
</div>
<hr style="border-top:1px solid #e0e0e0;"/>
Funds : <select chosen="{width:'600px'}" multiple ng-model="selectedFunds"
        ng-options="fund.name as fund.name for fund in funds" placeholder-text-multiple="'No funds selected. Select a fund'"
        ng-change="updateSelectedFunds(selectedFunds)">
    <option value=""></option>
</select>

<hr style="border-top:1px solid #e0e0e0;"/>
<div class="container" id="top-level-stats" style="background:#fff;">

    <div class="row">
        <div class="col-xs-3">
            <statbox title="Projects" stat="stats.projects"></statbox>
        </div>
        <div class="col-xs-3">
            <statbox title="States" stat="stats.states"></statbox>
        </div>
        <div class="col-xs-3">
            <statbox title="Sanctioned Amount" stat="stats.sanctioned" decimals="stats.decimals" ></statbox>
        </div>
        <div class="col-xs-3">
            <statbox title="No. Of Beneficiaries" stat="stats.beneficiaries" options="stats.options"></statbox>
        </div>
    </div>
</div>
<hr style="border-top:1px solid #e0e0e0;"/>
<div class="container" id="top-level-stats" style="background:#fff;">    
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-3">
            <statbox title="Amount released by funding agency" stat="stats.amountOfFundAgency" decimals="stats.decimals" ></statbox>
        </div>
        <div class="col-xs-3">
            <statbox title="Amount released by NABARD" stat="stats.amountReleasedByNabard" decimals="stats.decimals"></statbox>
        </div>
    </div>    

    <br>


</div>
<div class="map-container" id="india-map-container">

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 map-column">
            <div class="map-toolbar">
                <button class="btn btn-circle btn-default" ng-click="zoomOutMap(this)"><span
                        class="glyphicon glyphicon-home"></span></button>
            </div>

            <div class="svg-container" ng-include="'src/dashboard/india-map.html'"></div>
        </div>
        <div class="col-sm-6" ng-if="selectedState.name">
            <div class="text-center">
                <br><br><br>

                <h1 class="text-primary">{{selectedState.name}}</h1>
                <br>

                <div class="row" style="border-top:1px solid #f0f0f0; border-bottom:1px solid #f0f0f0; padding:10px 0;">
                    <div class="col-sm-4">
                        <statbox title="Projects" size="sm" stat="selectedState.projects"></statbox>
                    </div>
                    <div class="col-sm-4">
                        <statbox title="Sanctioned Amount" size="sm" stat="selectedState.amount_sanctioned" decimals="stats.decimals"></statbox>
                    </div>
                    <div class="col-sm-4">
                        <statbox title="No. of Beneficiaries" size="sm" stat="selectedState.beneficiaries.total"></statbox>
                    </div>
                </div>


                <br>

                <h3 style="font-weight: 100">Projects in {{selectedState.name}}</h3>

                <br>

                <div class="row">
                    <div class="col-xs-12">
                        <small class="text-muted text-center" ng-show="!selectedState.projectDetails || selectedState.projectDetails.length ==0">
                            There are no projects in {{selectedState.name}}
                        </small>

                        <div class="project">

                        </div>
                        <table class="table text-left no-top-border">
                            <tr ng-repeat="project in selectedState.projectDetails">
                                <td style="width:25%">
                                    <a ng-click="openProjectDetails(project)">{{project.projectShortName}}</a>
                                </td>
                                <td>
                                    {{project.projectCost | currency:project.currency+' ':3}}{{'Cr'}}
                                </td>
                                <td>
                                    {{project.sanctionedAmount | currency:project.currency+' ':3}}{{'Cr'}}
                                </td>
                                <td>
                                    {{project.amountOfFundingAgency | currency:project.currency+' ':3}}{{'Cr'}}
                                </td>
                                <td>
                                    {{project.releasedAmountByNabardToEE | currency:project.currency+' ':3}}{{'Cr'}}
                                </td>
                                <td>
                                    <span class="label label-info label-pill">{{project.projectCategory | capitalize:true}}</span>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>


            </div>

        </div>
    </div>

</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="padding:60px 0 0 0">

                <h3>Fund Distribution - States</h3>

                <p>A view of state-wise distribution of funds allocated in different projects</p>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1 ">
                <br>
                <canvas id="bar" class="chart chart-bar" style="width:400px; margin:auto;"
                        chart-data="data" chart-labels="labels" chart-series="series" chart-dataset-override="datasets" chart-options="barChartOptions">
                </canvas>
            </div>
        </div>
    </div>


</section>
<hr/>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2 ">
                <br>
                <canvas id="doughnut" class="chart chart-doughnut" chart-colors="colors"  chart-options="doughnutchartoption"
                        chart-data="sectorWiseData" chart-labels="sectorWiseLabels">
                </canvas>
            </div>
            <div class="col-sm-4 col-sm-offset-2" style="padding:130px 0 0 0">

                <h3>Fund Distribution - Sectors</h3>

                <p>A view of sector-wise distribution of funds allocated in different projects</p>

            </div>

        </div>
    </div>


</section>

<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right:15px; margin-top:10px;"><span aria-hidden="true">&times;</span></button>
            <br><br>
            <div class="modal-body">
                <h3>{{selectedProject.projectShortName}}</h3>
                <br>

                <p>
                    <strong>Project Cost : </strong> {{selectedProject.projectCost | currency:selectedProject.currency+' ':3}}{{'Cr'}}
                </p>
                <p>
                    <strong>Released Amount: </strong> {{selectedProject.releasedAmount | currency:selectedProject.currency+' ':3}}{{'Cr'}}
                </p>
                <p>
                    <strong>Direct Beneficiaries: </strong> {{selectedProject.directbenificieries }}
                </p>

                <p>
                    <strong>Indirect Beneficiaries: </strong> {{selectedProject.indirectbenificieries}}
                </p>

            </div>
        </div>
    </div>
</div>