/* @import this file */

table.no-borders {
  tbody tr td {
    border: none;
  }

  .animate-repeat {
    height:20px;
  }

  .animate-repeat.ng-move,
  .animate-repeat.ng-enter,
  .animate-repeat.ng-leave {
    transition:all linear 0.5s;
  }

  .animate-repeat.ng-leave.ng-leave-active,
  .animate-repeat.ng-move,
  .animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
  }

  .animate-repeat.ng-leave,
  .animate-repeat.ng-move.ng-move-active,
  .animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:20px;
  }
}

table.barchart-table {
  td {
    &.bar {
      width:150px;
      padding-left:0;
      padding-right:0;

      &.bar-right{
        border-right: 1px solid #ccc;
        .progress .progress-bar{
          float:right;
        }
      }
      div.progress {
        margin-bottom: 0;
        background-color: #fff;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }

}