/* @import this file */
#top-level-stats{
  overflow: hidden;
  max-height: 120px;

  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

body.state-selected{
  #top-level-stats{
    max-height: 0;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -ms-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
  }
}

.label-pill{
  font-size: 0.8em;
  padding:4px 12px;
  border-radius:50px;
  font-weight: 200;
}

.table.no-top-border{
  tr:first-child > td{
    border-top:none;
  }
}